body {
    color: white;
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    margin: auto;
    height: 75vmin;
    width: 75vmin;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.row > * {
    flex: 1;
    background-color: gray;
}
